
*.epoch
myname/.classpath
myname/.classpath
myname/.settings/org.eclipse.jdt.core.prefs
*.prefs
myname/.classpath
*.log
*.lck
*.prefs
myname/.classpath
myname/.classpath
myname/.project
*.name
myname/.settings/org.eclipse.wst.common.project.facet.core.xml
myname/.settings/org.eclipse.wst.jsdt.ui.superType.container
myname/.settings/org.eclipse.wst.common.component
myname/.settings/.jsdtscope
myname/.settings/org.eclipse.core.resources.prefs
